/* General styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

header {
    padding: 10px;
    background-color: #333;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 3vh;
    margin-right: 2vw;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: #000;
}

nav img {
    height: 25vh;
}

.Klogo {
    display: none;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #333;
    margin-top: 5vh;
}

footer img {
    height: 10%;
    width: 10%;
    padding: 5vw;
    padding-top: 2vh;
}

.button {
    text-decoration: none;
    color: black;
    background-color: #ebb112;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 500px;
    margin-left: 35vw;
    margin-right: 25vw;
    border-radius: 12px;
    margin-bottom: 10vh;
    cursor: pointer;
}

/* Image section */
.image-section1 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

/* Vacatures section */
.vactures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 15px 0;
}

/* Media queries */
@media (max-width: 428px) {
    .Glogo {
        display: none;
    }

    .begin_img {
        height: 25vh;
    }

    .button {
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 20px;
        height: 100px;
        width: 250px;
    }

    nav a {
        font-size: 18px;
        padding: 2vh;
        margin-right: 1vw;
    }

    nav img {
        height: 15vh;
    }

    .vactures img {
        width: 50vh;
        height: 50vh;
    }

    .vactures h1,
    p {
        font-size: 20px;
    }
}


@media (min-width: 429px) and (max-width: 1023px) {
    .Klogo {
        display: none;
    }

    nav a {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav img {
        height: 20vh;
    }

    button {
        margin-left: 20vw;
        margin-right: 20vw;
        font-size: 30px;
        height: 150px;
        width: 400px;
    }

    .vactures img {
        width: 60vh;
        height: 60vh;
    }

    .vactures h1,
    p {
        font-size: 22px;
    }
}

.hamburger-menu {
    display: none;
}

.img1 {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.vactures img {
    flex-wrap: wrap;
    width: 70vh;
    height: 70vh;
    margin: 10px 0;
}

.vactures h1,
p {
    flex-wrap: wrap;
    font-size: 25px;
    font-style: italic;
}

.img4 {
    width: 50vh;

}