* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

header {
    padding: 10px;
    background-color: #333;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 3vh;
    margin-right: 2vw;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: #000;
}

nav img {
    height: 25vh;
}

.Klogo {
    display: none;
}

.hamburger-menu {
    display: none;
}

.begin_img {
    width: 100%;
    height: 45vh;
}


.content {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 30px;

}

.options{
    height: 6vh;
    width: 8vw;
    text-align: center;
    font-size: 40px;
}

.button {
    text-decoration: none;
    color: aliceblue;
    background-color: #333;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 12px;
    margin-bottom: 10vh;

}


footer {
    text-align: center;
    padding: 3px;
    background-color: #333;
    margin-top: 5vh;
}

footer img {
    height: 10%;
    width: 10%;
    padding: 5vw;
    padding-top: 2vh;

}

.LunchDinerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;}



.LunchDinerContainer article h1,
.LunchDinerContainer article p {
    margin-top: 10px;
}

.bannerLunchDiner {
    max-width: 100%;
    width: 20vw;
    height: 30vh;
    display: block;
    margin: 0 auto;
}

.sushiOnigiri {
    width: 20vw;
    height: 30vh;
}

.openingstijden, .locatie, .locatieKaart {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-top: 5vh;
}

.locatie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 5vh;
    margin-left: 2%;
}

.locatie article {
    flex: 1;
}

.locatieKaart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.locatieKaart img {
    max-width: 30vw;
    height: auto;
}

.bannerOpeningstijden {
    width: 100vw;
    height: 20vh;
    align-items: center;
}

.kaart {
    width: 20vhvw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 428px) {
    .Glogo {
        display: none;
    }

    .begin_img {
        height: 25vh;
    }
    nav a {
        font-size: 18px;
        padding: 2vh;
        margin-right: 1vw;
    }

    nav img {
        height: 15vh;
    }

.options{
    height: 6vh;
    width: 35vw;
    font-size: 20px;
}
.sushiOnigiri{
    display: none;
}

}

@media (min-width: 429px) and (max-width: 1023px) {
    .Klogo {
        display: none;
    }

    nav a {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav img {
        height: 20vh;
    }

    .options{
        height: 6vh;
        width: 35vw;
        font-size: 30px;
    }

    .sushiOnigiri{
        display: none;
    };
}